<h1>Howdy</h1>
<form action="http://localhost:3000/create_picture">

<div>
  <label for="the_caption">Caption:</label>
  <input id="the_caption" type="text" name="caption" value= <% @picture.caption %>
</div>
<div>
  <label for="image_url">Image=URL:</label>
  <input id="the_caption" type="text" name="source" value= <%=
</div>
